/* Reset and basic styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color: #333;
    padding: 15px 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Language switch styling */
.language-switch {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.language-switch a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px;
}

.language-switch a:hover {
    color: #fff;
    background-color: #555;
    border-radius: 3px;
}

/* Main content styling */
main {
    padding: 20px;
    text-align: center;
}

/* Home Section styling */
#home {
    padding: 50px 20px;
    text-align: center;
    font-size: 24px; /* Increase font size for better readability */
    font-family: 'Arial', sans-serif; /* Example: Use a different font */
    color: #fff; /* White text color */
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animated-text {
    display: inline-block;
    font-size: 28px;
    color:#9b7aff; /* Text color */
}

.animated-text span {
    display: inline-block;
    animation: none; /* Initially no animation */
    transform-origin: bottom; /* Start animation from bottom */
}
.animated-text:hover span {
    animation: jump 1s ease-in-out infinite; /* Infinite animation */
    animation-delay: calc(0.1s * var(--i)); /* Delay each letter */
}


/* Skills section styling */
#skills {
    padding: 20px;
    text-align: center;
}

.skill-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.skill-card {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust width as needed */
    height: 250px; /* Adjust height as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.skill-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.skill-card:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

.skill-card:hover .overlay {
    opacity: 1;
}

.skill-card .overlay h3 {
    color: #fff;
    font-size: 18px;
}

#canvas {
    padding: 50px 20px;
    position: relative;
    max-width: 800px;
    margin: auto;
   
}

#canvas-container{
    height: 500px;
    border: 2px solid #5d5a5a;
    display: flex;
  
    
}

#changeAnimationBtn {
    position: absolute;
    right: 50px;
    top: 80px;
    padding: 10px 20px;
    background-color:#9b7aff ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#changeAnimationBtn:hover {

    background-color: #e69411;
    color: #fff;

}

/* Footer styling */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

/* Contact info in footer */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.contact-info p {
    margin: 0;
}

.contact-info a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 5px;
}

.contact-info a:hover {
    color: #fff;
    background-color: #555;
    border-radius: 3px;
}

